@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #2e3192 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #2e3192;
  border-color: #2e3192;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #1c1d58;
  border-color: #1c1d58;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1c1d58 !important;
  border-color: #1c1d58 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #161744;
  color: #161744;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #2e3192;
  border-color: #2e3192;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2e3192 !important;
  border-color: #2e3192 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #2e3192 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #161744 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2e3192;
  border-color: #2e3192;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #2e3192;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6e71d1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #2e3192;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #2e3192;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #2e3192;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2e3192;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2e3192;
}
/* Headers*/
.cid-qsk0RNwgpt {
  background-image: url("../../../assets/images/mbr-1-1620x1080.jpg");
}
.cid-qsk0RNwgpt H1 {
  text-align: center;
}
.cid-qsoEgE1UN9 {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qsoEgE1UN9 .mbr-section-subtitle {
  color: #767676;
}
.cid-qsoEgE1UN9 H2 {
  color: #2e3192;
}
.cid-qsovVGHrzb .navbar {
  padding: .5rem 0;
  background: #2e3192;
  transition: none;
  min-height: 77px;
}
.cid-qsovVGHrzb .navbar-dropdown.bg-color.transparent.opened {
  background: #2e3192;
}
.cid-qsovVGHrzb a {
  font-style: normal;
}
.cid-qsovVGHrzb .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qsovVGHrzb .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qsovVGHrzb .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qsovVGHrzb .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qsovVGHrzb .menu-logo {
  margin-right: auto;
}
.cid-qsovVGHrzb .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qsovVGHrzb .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qsovVGHrzb .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qsovVGHrzb .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qsovVGHrzb .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qsovVGHrzb .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qsovVGHrzb .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qsovVGHrzb .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qsovVGHrzb .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qsovVGHrzb .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qsovVGHrzb .dropdown .dropdown-menu {
  background: #2e3192;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qsovVGHrzb .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qsovVGHrzb .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qsovVGHrzb .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qsovVGHrzb .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qsovVGHrzb .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qsovVGHrzb .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qsovVGHrzb .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qsovVGHrzb .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qsovVGHrzb .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qsovVGHrzb .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qsovVGHrzb .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qsovVGHrzb button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qsovVGHrzb button.navbar-toggler:focus {
  outline: none;
}
.cid-qsovVGHrzb button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qsovVGHrzb button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qsovVGHrzb button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qsovVGHrzb button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qsovVGHrzb button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qsovVGHrzb nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qsovVGHrzb nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qsovVGHrzb nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qsovVGHrzb nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qsovVGHrzb .collapsed .btn {
  display: flex;
}
.cid-qsovVGHrzb .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qsovVGHrzb .collapsed .navbar-collapse.collapsing,
.cid-qsovVGHrzb .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qsovVGHrzb .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qsovVGHrzb .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qsovVGHrzb .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qsovVGHrzb .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qsovVGHrzb .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qsovVGHrzb .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qsovVGHrzb .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qsovVGHrzb .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qsovVGHrzb .collapsed button.navbar-toggler {
  display: block;
}
.cid-qsovVGHrzb .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qsovVGHrzb .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qsovVGHrzb .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qsovVGHrzb .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qsovVGHrzb .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qsovVGHrzb .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qsovVGHrzb img {
    height: 3.8rem !important;
  }
  .cid-qsovVGHrzb .btn {
    display: flex;
  }
  .cid-qsovVGHrzb button.navbar-toggler {
    display: block;
  }
  .cid-qsovVGHrzb .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qsovVGHrzb .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qsovVGHrzb .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qsovVGHrzb .navbar-collapse.collapsing,
  .cid-qsovVGHrzb .navbar-collapse.show {
    display: block !important;
  }
  .cid-qsovVGHrzb .navbar-collapse.collapsing .navbar-nav,
  .cid-qsovVGHrzb .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qsovVGHrzb .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qsovVGHrzb .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qsovVGHrzb .navbar-collapse.collapsing .navbar-buttons,
  .cid-qsovVGHrzb .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qsovVGHrzb .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qsovVGHrzb .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qsovVGHrzb .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qsovVGHrzb .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qsovVGHrzb .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qsovVGHrzb .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qsoB9xCbSV {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qsoB9xCbSV h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qsoB9xCbSV p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qsoB9xCbSV .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cid-qsoB9xCbSV .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-qsoB9xCbSV .card-box {
  padding-left: 1rem;
}
@media (max-width: 991px) {
  .cid-qsoB9xCbSV .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qsoB9xCbSV .card-box {
    padding-left: 0;
  }
}
.cid-qsoB9xCbSV .card-title,
.cid-qsoB9xCbSV .card-img P {
  color: #232323;
}
.cid-qsoBZzdvcm {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qsoBZzdvcm h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qsoBZzdvcm p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qsoBZzdvcm .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cid-qsoBZzdvcm .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-qsoBZzdvcm .card-box {
  padding-left: 1rem;
}
@media (max-width: 991px) {
  .cid-qsoBZzdvcm .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qsoBZzdvcm .card-box {
    padding-left: 0;
  }
}
.cid-qsoBZzdvcm .card-title,
.cid-qsoBZzdvcm .card-img P {
  color: #232323;
}
.cid-qsoD3EZnBt {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qsoD3EZnBt h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qsoD3EZnBt p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qsoD3EZnBt .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cid-qsoD3EZnBt .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-qsoD3EZnBt .card-box {
  padding-left: 1rem;
}
@media (max-width: 991px) {
  .cid-qsoD3EZnBt .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qsoD3EZnBt .card-box {
    padding-left: 0;
  }
}
.cid-qsoD3EZnBt .card-title,
.cid-qsoD3EZnBt .card-img P {
  color: #232323;
}
.cid-qsoG6nbRyo {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1620x1080.jpg");
}
.cid-qsoG6nbRyo .media-container-column {
  align-items: center;
}
.cid-qsoG6nbRyo .mbr-author-desc {
  display: block;
}
.cid-qsoG6nbRyo .mbr-testimonial {
  margin-top: 5rem;
}
.cid-qsoG6nbRyo .mbr-testimonial .panel-item {
  background-color: #232323;
  background: linear-gradient(#232323, transparent);
}
.cid-qsoG6nbRyo .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2rem;
}
.cid-qsoG6nbRyo .mbr-testimonial .card-block .testimonial-photo {
  margin-top: -5rem;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-qsoG6nbRyo .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qsoG6nbRyo .mbr-testimonial .card-block p {
  margin: 0;
}
.cid-qsoG6nbRyo .mbr-testimonial .card-footer {
  padding: 0 2rem 2rem 2rem;
  border-top: 0;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 260px) {
  .cid-qsoG6nbRyo .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qsoG6nbRyo H2 {
  color: #ffffff;
}
.cid-qsk18Ccyqw {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
  background: linear-gradient(#ffffff, #ffffff);
}
.cid-qsk18Ccyqw .carousel-control {
  background: #000;
}
.cid-qsk18Ccyqw .mbr-section-subtitle {
  color: #767676;
}
.cid-qsk18Ccyqw .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qsk18Ccyqw .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qsk18Ccyqw .carousel-item .wrap-img {
  text-align: center;
}
.cid-qsk18Ccyqw .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-qsk18Ccyqw .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qsk18Ccyqw .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-qsk18Ccyqw .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-qsk18Ccyqw .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-qsk18Ccyqw .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-qsk18Ccyqw .cloneditem-1,
.cid-qsk18Ccyqw .cloneditem-2,
.cid-qsk18Ccyqw .cloneditem-3,
.cid-qsk18Ccyqw .cloneditem-4,
.cid-qsk18Ccyqw .cloneditem-5 {
  display: none;
}
.cid-qsk18Ccyqw .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-qsk18Ccyqw .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-qsk18Ccyqw .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides2 .cloneditem-1,
  .cid-qsk18Ccyqw .carousel-inner.slides2 .cloneditem-2,
  .cid-qsk18Ccyqw .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-qsk18Ccyqw .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides3 .cloneditem-1,
  .cid-qsk18Ccyqw .carousel-inner.slides3 .cloneditem-2,
  .cid-qsk18Ccyqw .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-qsk18Ccyqw .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides4 .cloneditem-1,
  .cid-qsk18Ccyqw .carousel-inner.slides4 .cloneditem-2,
  .cid-qsk18Ccyqw .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-qsk18Ccyqw .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides5 .cloneditem-1,
  .cid-qsk18Ccyqw .carousel-inner.slides5 .cloneditem-2,
  .cid-qsk18Ccyqw .carousel-inner.slides5 .cloneditem-3,
  .cid-qsk18Ccyqw .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-qsk18Ccyqw .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-qsk18Ccyqw .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qsk18Ccyqw .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qsk18Ccyqw .carousel-inner.slides6 .cloneditem-1,
  .cid-qsk18Ccyqw .carousel-inner.slides6 .cloneditem-2,
  .cid-qsk18Ccyqw .carousel-inner.slides6 .cloneditem-3,
  .cid-qsk18Ccyqw .carousel-inner.slides6 .cloneditem-4,
  .cid-qsk18Ccyqw .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-qspkOv9S2p {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qspkOv9S2p .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-qspkOv9S2p .input {
  margin-bottom: 15px;
}
.cid-qspkOv9S2p .map {
  width: 100%;
  height: 30rem;
}
.cid-qspkOv9S2p .map iframe {
  width: inherit;
  height: 100%;
}
.cid-qspkOv9S2p .icon-block {
  margin-bottom: 10px;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-qspkOv9S2p .icon-block .icon-block__icon {
  display: inline-block;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-qspkOv9S2p .icon-block .icon-block__title {
  display: inline-block;
  align-self: center;
  -webkit-align-self: center;
  margin-bottom: 0;
  line-height: 1;
  font-style: italic;
}
.cid-qspkOv9S2p .mbr-text {
  color: #767676;
}
.cid-qspkOv9S2p a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qspkOv9S2p .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qspkOv9S2p .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qspkOv9S2p .google-map {
  height: 25rem;
  position: relative;
}
.cid-qspkOv9S2p .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-qspkOv9S2p .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-qspkOv9S2p .google-map[data-state] {
  background: #e9e5dc;
}
.cid-qspkOv9S2p .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 767px) {
  .cid-qspkOv9S2p h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-qspkOv9S2p .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-qspkOv9S2p .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
.cid-qspm1CuzhK {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/mbr-1440x1080.jpg");
}
@media (max-width: 767px) {
  .cid-qspm1CuzhK .content {
    text-align: center;
  }
  .cid-qspm1CuzhK .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-qspm1CuzhK .img-logo img {
  height: 6rem;
}
.cid-qspm1CuzhK [type="email"] {
  font-size: .75rem;
  margin-bottom: 5px;
  text-align: center;
  min-width: 150px;
}
.cid-qspm1CuzhK .input-group-btn {
  display: inline-block;
}
.cid-qspm1CuzhK .input-group-btn a.btn {
  margin: 0 !important;
}
.cid-qspm1CuzhK .input-group {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-qspm1CuzhK [type="submit"] {
  padding: .75rem 1.5625rem !important;
  margin-left: .625rem;
  text-transform: none;
}
.cid-qspm1CuzhK .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.cid-qspm1CuzhK .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qspm1CuzhK .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qspm1CuzhK .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qspm1CuzhK .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qspm1CuzhK .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-qspm1CuzhK .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qspm1CuzhK .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qspm1CuzhK form .input-group input.form-control,
.cid-qspm1CuzhK form .input-group-btn .btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
